        .page-footer{
            background-color: #fff;
            margin: 0 !important;
            padding: 0 !important;
        }
        .footer-copyright{
            background-color: #01579b !important;
        }
        nav {
            background-color: #01579b !important;
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
        /* label color */
        .input-field label {
            color: #01579b;
        }
        /* label focus color */
        .input-field input[type=text]:focus + label {
            color: #01579b;
        }
        /* label underline focus color */
        .input-field input[type=text]:focus {
            border-bottom: 1px solid #01579b;
            box-shadow: 0 1px 0 0 #01579b;
        }
        /* valid color */
        .input-field input[type=text].valid {
            border-bottom: 1px solid #01579b;
            box-shadow: 0 1px 0 0 #01579b;
        }
        /* invalid color */
        .input-field input[type=text].invalid {
            border-bottom: 1px solid #01579b;
            box-shadow: 0 1px 0 0 #01579b;
        }
        /* icon prefix focus color */
        .input-field .prefix.active {
            color: #01579b;
        }
